.toolbox {
  border: 2px solid #999999;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.pieces-toolbar {
  background-color: #ffdddd;
  border-bottom: 2px solid #cc8888;
}

.board-toolbar {
  background-color: #ffffcc;
  border-bottom: 2px solid #cccc66;
}

.solver-toolbar {
  background-color: #ddffff;
  border-bottom: 2px solid #88cccc;
}
